.homepage {
  height: 100%;
  margin: 0;
}

.image {
  display: flex;
}
.profile_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.skill_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: %;
}
.contact_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.about {
  max-width: 50%;
}
.skills {
}
.contact {
  color: #c0c0c0;
  text-align: center;
}
.link a {
  color: #c0c0c0;
  text-align: center;
  text-decoration: none;
}
.github {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}
